.players-match__block {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.players-match__signature {
    height: 100%;
    font-size: 12px;
}
.players-match__block > div {
    padding: 0.2rem;
}
